div.css-zt5igj.e16nr0p33 {
    background-color: #fb5a5a;
    border-radius: 10px;
}

section.main.css-k1vhr4.egzxvld3 {
    background-color: #6a86da;
}

header.css-18ni7ap.e8zbici2 {
    background-color: #fb5a5a;
}

header.css-1avcm0n.e8zbici2
{
    background-color: #fb5a5a;
}

a.css-17nby6i.e1fqkh3o6 {
    background-color: #fb5a5a;
    height: 1.5cm;
    border-radius: 8px;
}

div.css-6qob1r.e1fqkh3o3 {
    background-color:#6a86da;
}

div.css-gggys9.e1fqkh3o0 {
    background-color: #fb5a5a;
}

div.css-fis6aj.exg6vvm10 {
    opacity: 50%;
}

/*
button.css-9s5bis.edgvbvh3 {
    background-color: #6a86da;
}


div.css-8u98yl.exg6vvm0 {
    width: 12cm;
}


footer.css-1q1n0ol.egzxvld0 { 
    opacity: 0%;
}
*/


